.header {
  display: flex;
}
.menu {
  box-shadow: #e4ecef;
  position: relative;
}
.menu .ant-menu-horizontal {
  border: none;
}
.menu .ant-menu-horizontal .ant-menu-submenu {
  float: right;
}
.menu .ant-menu-submenu-title {
  width: 64px;
  height: 64px;
  text-align: center;
  padding-top: 8px;
}
.trigger {
  margin-left: 16px;
  margin-right: 16px;
  align-self: center;
}
.menu-logo {
  /* // background-image: url('../../../public/icon.png'); */
  background-repeat: no-repeat;
  /* // background-position: center; */
  height: 64px;
  width: 100%;
  /* // background-size: 100%; */
  margin-top: 0px;
  color: rgb(248, 248, 248);
  background: #f26419;
  /* // line-height: 32px; */
  font-weight: bold;
  text-align: center;
  font-size: larger;
}
.logo-text {
  padding-top: 7%;
  padding-bottom: 6%;
  text-align: center;
}
