
@import "../profile/styles.module.scss";

@mixin paddingSide($top,$right,$bottom,$left) {
    padding :$top $right $bottom $left
}

.body {
    @include paddingSide(6.87rem,0.31rem ,3.75rem ,0.31rem )
}

.paddingCenter{
    @extend .body;
    @extend .centerPage;
    flex-flow: column
}

.banner{
    @extend .centerPage;
    height: 22rem;
    padding-top: 3.2rem;
    width: 100%;
    background-image: url(../../../images/background.webp);
    font-size: 20pt;
    font-weight: 600;
}

.paddingBody{
    @include paddingSide(2% ,10% ,0 ,10% )
}

.paddingCoruseCard {
    @include paddingSide(0 ,2% , 2% ,0);
    width : 80%;
}

.paddingCoruseCardSM {
    width : 80%;
    margin: 0% 10% 0% 10%;
}

.paddingCoruseCardXS {
    width : 100%;
}

.subjectMenu {
    display: flex ;
    flex-flow: row  ;
    justify-content: center;
    height: 6.25rem;
    margin-top: 1.25rem;
}

.button{
    height: auto;
    width: auto;
    border-color: transparent !important;
    background-color: white;
}

.iconSubject{
    padding: 0.75rem;
    border-radius: 50%;
    color: white;
}


.iconlarge{
    @extend .iconSubject;
    height: 3.75rem !important;
    width: 3.75rem !important;
}

.iconSmall{
    @extend .iconSubject;
    height: 3rem !important;
    width: 3rem !important;
}

.flexRow{
    display: flex;
    flex-flow: row;
    align-items: center;
}

.paddingLeft{
    padding-left: 1.25rem;
}

.Slide {
    text-align: center;
    width:100%;
    padding: 2rem;
}

@media only screen and (max-width: 768px) {
    .banner{
        height: 15rem;
        font-size: 15pt;
    }
}

.row{
    display: flex !important;
}

.paddingTop{
    padding-top: 2rem;
}

.paddingTop60{
    padding-top: 3.75rem;
}