
@import "../profile/styles.module.scss";

.banner{
    @extend .centerPage;
    height: 22rem;
    left: 0;
    top: 0;
    width: 100%;
    background-image: url(../../../images/banner2.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 2.5rem;
    font-weight: 700;
    color: $white;

    @media only screen and (max-width: 768px){
        height: 18rem;
        text-align: center;
        font-size: 1.7rem;
    }
}

.subjectMenu {
    @extend .horizontalCenter;
    flex-flow: row  ;
    max-height: 7.25rem;
    margin-top: 1.25rem;
}

.button{
    height: auto;
    width: auto;
    border-color: transparent !important;
    background-color: white;
}

.iconSubject{
    padding: 0.5rem;
    border-radius: 50%;
    color: white;
}

.iconlarge{
    @extend .iconSubject;
    @extend .textOne ;
    height: 3.5rem !important;
    width: 3.5rem !important;
}

.iconSubjectSmall{
    @extend .iconSubject;
    @extend .textOne25;
    height: 2.25rem !important;
    width: 2.25rem  !important;
}

.flexRow{
    @extend .VerizontalPage;
    flex-flow: row;
}

.subjectSelect{
    @extend .marginSection;
    cursor: pointer;
}

.width10{
    display: inline-block;
    width: 9rem !important;
}

.width4{
    display: inline-block;
    width: 4rem !important;
}

.paddingCardShow {
    padding : 0rem 0.5rem 0rem 0.5rem
}

.paddingListSlider {
    padding : 0rem 1rem 1rem 1rem
}

.pageHeader {
    @extend .textOne5;
    color : $blue;
}