@import "../profile/styles.module.scss";


.buttom50pct{
    @extend .textNormal;
    width: 50%;
    height: 3rem;
    border-style: none !important;
    cursor: pointer;
    outline: none;
}

.rate{
    color:$orange;
}

.paddingTop{
    padding-top:1rem
}