@import "../../stylesDefault.module.scss";

.header{
    position: fixed;
    height: 5rem;
    width: 100%;
    background-color:$orange;
    border-bottom-left-radius: 40% 30%;
    border-bottom-right-radius: 40% 30%;
    z-index: 10;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.leftHeader {
    padding-left: 2rem;
    display: flex;
    align-items: center;
}

.rightHeader{
    margin-left: auto;
    padding-right: 2rem;
}

.h1 {
    font-size: 20pt ;
    font-weight: 500;
    padding-left: 0.6rem;
    color:$white 
}

.icon{
    font-size: 35pt ;
    color:$white 
}
  
