@import "../../stylesDefault.module.scss";

.header{
    @extend .centerPage;
    position: fixed;
    height: auto;
    width: 100%;
    background-color:$orange;
    z-index: 10;
}

.leftHeader {
    @extend .VerizontalPage;
    padding-left: 2rem;
    margin:0.5rem 0rem 0.5rem 0rem;
}

.rightHeader{
    margin-left: auto;
    padding-right: 2rem;
}

.fontWhite{
    @extend .headerOne75;
    color:$white ;
}

.textHeader {
    @extend .fontWhite;
    margin-left: 0.5rem
}
