$yellow: #f6ae2d;
$black: #000000;
$green: #00b900;
$red: #ab330f;
$blue: #33658a;
$gray: #c4c4c4;
$main: #f26419;

.paddingbody {
  padding-left: 5%;
  padding-right: 5%;
}

.paddingEdit {
  padding-left: 10%;
  padding-right: 10%;
}

.alignCenter {
  display: flex;
  justify-content: center;
}

.alignCenterBtn {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.alignPage {
  display: flex;
  align-items: center;
}

.paddingTopBody {
  padding-top: 6.87rem;
}

.body {
  @extend .paddingbody;
  @extend .paddingTopBody;
  padding-bottom: 3.75rem;
}

.bodyEdit {
  padding-top: 2.5rem;
}

.imageProfile {
  border-radius: 50% !important;
  height: 8.12rem;
  width: 8.12rem;
}

.imageProfilePubile {
  border-radius: 50% !important;
  height: 9.37rem;
  width: 9.37rem;
}

.profileSet {
  @extend .alignPage;
  flex-flow: row;
}

.marginLeft {
  margin-left: 2.5rem;
}

.subProfile {
  margin-top: 1.56rem;
}

.subTitle {
  @extend .TitleCoin;
  padding-left: 1.25rem;
}

.TitleCoin {
  @extend .alignPage;
  padding-top: 1.25rem;
  flex-flow: row;
}

.icon {
  font-size: 20pt;
  margin-right: 1.25rem;
}

.iconcoin {
  @extend .icon;
  color: $yellow;
}

.iconmarker {
  @extend .icon;
  color: $gray;
}

.iconMap {
  @extend .icon;
  @extend .fontBlue;
  font-size: 18pt;
}

.iconCheck {
  margin-right: 1.87rem;
}

.iconTick {
  @extend .iconCheck;
  @extend .fontGreen;
  font-size: 30pt;
}

.iconEducation {
  @extend .icon;
  margin-left: 1.87rem;
  font-size: 30pt;
}

.padding {
  padding: 0.625rem;
}

.floatLeft {
  margin-left: auto;
  margin-right: 0.625rem;
}

.fontGreen {
  color: $green !important;
}

.fontBlue {
  color: $blue !important;
}

.marginTop {
  margin-top: 2.188rem;
}

.marginTop20 {
  margin-top: 1.25rem;
}

.buttonEdit {
  @extend .marginTop;
  @extend .alignCenter;
  padding-bottom: 3.75rem;
}

.columnJustify {
  @extend .alignCenter;
  flex-flow: column;
}

.textAlign {
  text-align: center;
}

.mobilecenter {
  @extend .body;
  @extend .alignCenter;
}

.infogroup {
  display: flex;
  flex-flow: column;
  position: absolute;
  right: 0.313rem;
}

.infoButton {
  border-width: 0.125rem !important;
  border-color: $main !important;
  color: $main !important;
}

.colorGray {
  color: $gray !important;
  border-width: 0rem !important;
  margin-top: 0.625rem;
}

.contrainnerProfilePubile {
  @extend .paddingbody;
  @extend .marginTop20;
}

.bodymobileprofile {
  @extend .paddingbody;
  padding-bottom: 3.75rem;
}

// coin tutor
.iconBig {
  font-size: 2.5rem;
  margin-right: 1.5rem;
  color: $yellow;
}

.coinlist {
  padding-top: 3rem;
  margin-left: -5rem;
  font-size: 16px;
}

.coinshop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8rem;
  padding-top: 1rem;
}

.subcoin {
  padding-top: 2.5em;
  padding-left: 5em;
}

.payment {
  padding-top: 2em;
}

.paymentPage {
  @extend .coinshop;
  margin-left: 6rem;
  padding-top: 1.5rem;
}

.buttonpayment {
  border: 0.1rem solid #f26419 !important;
  color: black !important;
}

.buttonpayment:hover {
  background-color: #fff !important;
  color: #f26419 !important;
  border-color: #f26419 !important;
}

.hiscoin {
  margin-left: 10rem;
  padding-top: 5rem;
}

.coinbody {
  @extend .paddingbody;
  margin-left: 1rem;
  padding-top: 2rem;
  width: 100%;
}

.tablecoin {
  width: 95%;
  font-size: 30pt !important;
}

.pageredeem {
  @extend .paddingTopBody;
  padding-bottom: 3.75rem;
}

.pageredeemsm {
  padding-left: 18%;
  padding-right: 18%;
}

.subredeem {
  font-size: 1.4rem;
  padding-left: 1rem;
  padding-top: 0.8rem;
}

.subredeem2 {
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-top: 0.8rem;
}

.iconredeem {
  font-size: 1.8rem;
  margin-right: 1.5rem;
  color: $yellow;
}

.iconSmall {
  font-size: 1rem;
  margin-right: 1.5rem;
  color: $yellow;
}

.iconSmall2 {
  font-size: 1.3rem;
  margin-right: 1.5rem;
  color: $yellow;
}

.flexredeem {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.columredeem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.8rem;
}

.allow{
  margin-top: -5rem;
  margin-left: 18rem;
}
