@import "../../../../stylesDefault.module.scss";

.contentRecommend{
    background-color: white;
    border-radius: 0.5rem;
    width: 38%;
    margin-left: 2%;
    padding: 1rem;
    margin-top: 1rem;
}

.contentRecommendXl{
    background-color: white;
    border-radius: 0.5rem;
    width: 25%;
    margin-left: 2%;
    padding: 1rem;
    margin-top: 1rem;
}