

@import "../../stylesDefault.module.scss";

.card{
  border: 0.15rem solid $orange;
  border-radius: 0.5rem;
  cursor: pointer;
  color : $black;
  background-color: $white;
}

.cardRound{
   @extend .card;
    width : 50%
}

.image {
  border-radius: 50% !important;
  height: 5rem;
  width: 5rem;
}

.imageLarge {
  border-radius: 50% !important;
  height: 5.5rem;
  width: 5.5rem;
}

.borderGrid {
  @extend .paddingOne;
  -webkit-box-shadow: none;
  display: flex;
  align-items: center;
}

.gridImage {
  @extend .borderGrid;
  width: 30% !important;
}

.gridfull {
  @extend .borderGrid;
  width: 100% !important;
  height: 2.5rem !important;
}

.imageClip{
    height: 8.5rem;
    width: auto;
    padding : 0.5rem;

    @media screen and (max-width: 992px) {
      height: 8rem;
      width: 5rem;
    }
}

.icon {
  @extend .iconSmall;
  color: $gray;
}

.gridRow{
    @extend .borderGrid;
    width: 70% !important;
    flex-flow: column;
    align-items: flex-start;
    padding-left: 2.5rem!important;
}

.paddingleftcourse {
    padding-left: 1rem;
  }
  
.paddingmanage {
  padding: 0.4rem;
}

.floatBell{
  margin-left: auto;
  @extend .iconLarge;
}

.iconyellow{
    @extend .iconSmall;
    color:$yellow;
    margin-right: 0.75rem
}

.marginLeft{
    margin-left: 0.6rem;
}

.rate {
  @extend .iconSmall;
  color: $yellow;
}

.textOneLine {
  @include cutText(1)
}

.textTwoLine {
  @include cutText(2);
  line-height: 90%;
}

.textLink{
  cursor: pointer;
  color : $blue
}

.textLinkDelete{
  @extend .textLink;
  color : $red
}

.textThreeLine {
  @include cutText(3)
}

.marginRight1{
   margin-right: 0.5rem;
}

.marginTop1{
   margin-right: 1rem;
}

.imageSmall {
  border-radius: 50% !important;
  height: 3.5rem;
  width: 3.5rem;
}

.grayIcon{
  @extend .textOne5 ;
  @extend .fullWidth;
  color : $gray;
}

.floatRight{
  float:right
}

.imageIcon {
  border-radius: 50% !important;
  height: 1.5rem;
  width: 1.5rem;
}

.blackCard{
  color: $black;
}