$yello : #F6AE2D;

.cardRound{
    border: 2px solid red;
    border-radius: 25px;
}

.alignCenter{
    display: flex;
}

.flexRow{
    @extend .alignCenter;
    flex-flow: row;
}

.flexColumn{
    @extend .alignCenter;
    flex-flow: column;
    margin-left: 15px;
}


.floatRight{
    @extend .alignCenter;
    margin-left: auto;
}


.image {
    border-radius: 50% !important;
    height: 90px;
    width: 90px;
  }
