:root {
  --main-color:#F26419;
  --blue-color: #33658A;
  --yello-color : #F6AE2D;
  --white-color : #FFFFFF;
  --gray-color : #C4C4C4;
  --side-menu-color : #303A53;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Nav Menu */
.menuBar {
  background-color: var(--main-color) !important;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  /* box-shadow: 0 0 30px #f3f1f1; */
}

.menuBar .floatRight{
  margin-left: auto
}
.logo {
  float: left;
  color: var(--white-color) ;
  font-weight: 700;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 18pt;
}
.logoSide {
  background-color: var(--main-color) !important;
}

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected {
  color:  var(--white-color)  !important;
  border-bottom: 2px solid  var(--white-color) !important;
}



.ant-menu-horizontal a{
  color:  var(--white-color)  !important;
}


.buttonBlueColor{
  background-color: var(--blue-color) !important;
  border-width: 0ch  !important;
  color:var(--white-color)  !important;
}
.buttonText{
  color:var(--white-color)  !important;
}

.navbarBottom {
  overflow: hidden;
  background-color: var(--white-color) ;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  border-top-style: solid;
  border-top-color: var(--main-color);

}

.iconMenu{
  padding: 10px;
  
}

.icon{
  font-size: 25px;
  color : var(--gray-color) !important;
}

.icon :active{
  color : var(--main-color) !important;
}

.side{
    overflow: auto  !important;
    height: 100vh !important;
    position: fixed !important;
    left: 0px;
    background-color: var(--side-menu-color) !important;
}

.side .ant-menu > .ant-menu-item-selected ,
.side .ant-menu > .ant-menu-submenu-title 
{
  color : var(--main-color) !important;
  background-color: var(--side-menu-color) !important;
  border: 0px transparent !important;
}


.side .ant-menu ,
.side .ant-menu-item a,
.side .ant-menu  :hover,
.side .ant-menu-submenu-selected 
 {
  color : var(--white-color) !important;
  background-color: var(--side-menu-color) !important;
  border: 0px transparent !important;

}
.side .ant-menu-item :hover,
.side .ant-menu-item-selected a {
  color : var(--main-color) !important;
}

/* Nav Menu */