.container {
  display: flex;
  justify-content: center;
  /* // align-items: center; */
}
.card-container {
  width: 300px;
  margin: 10px 20px 30px 30px;
  border-radius: 20px;
  border: 1px solid rgb(241, 239, 239);
  /* // -webkit-box-shadow: 0 12px 20px rgba(128, 124, 124, 0.12);
  // -moz-box-shadow: 0 12px 20px rgba(128, 124, 124, 0.12);
  // box-shadow: 0 12px 20px rgba(128, 124, 124, 0.12); */
}
.title-card {
  margin-top: -11px;
}
.modalcoin{
  background: #F6AE2D;
  border-radius: 20px;
  width: 200px;
  color:white;
  border-color: #F6AE2D;
}
.rate-coin{
  background: #F5732E;
  font-size: 35px;
  border-radius: 20px;
  width: 350px;
  height: 100px;
  color:white;
  border-color: #F5732E;
  padding: 20px 50px 8px 60px;
  margin-top: 23px;
  }