.ant-space-item .button-modalcoin {
  background: #f6ae2d !important;
  border-radius: 20px !important;
  width: 200px !important;
  color: white !important;
  border-color: #f6ae2d !important;
  font-size: 110% !important;
  padding-top: 3px !important;
  /* margin-left: 2.3em; */
}
.link-modalcoin {
  justify-content: "center";
  margin-top: "50px";
  margin-bottom: "20px";
  text-align: "center";
  font-size: "20px";
}
.ant-modal-confirm .ant-modal-confirm-btns{
  display: flex;
  justify-content: center;
  align-items: center;
  float: none;
  margin-top: 30px;
  margin-left: -1px;
}
/* .ant-btn {
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  color: rgba(248, 245, 245, 0.85);
  background: rgb(192, 26, 26);
  border-color: #ad2b2b;
  width: 20%;
  margin-right: 35px;
}
.ant-btn-primary {
  color: #fff;
  background: #117C3C;
  border-color: #117C3C;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
} */
/* .ant-modal-content > button,.ant-btn{
  padding: 4px 15px ;
  font-size: 14px ;
  border-radius: 2px ;
  color: rgba(248, 245, 245, 0.85) !important;
  background: rgb(24, 206, 24)!important ;
  border-color:  rgb(24, 206, 24)!important ;
  width: 20% ;
  margin-right: 35px ;
} */

/* button,ant-btn{
  padding: 4px 15px ;
  font-size: 14px ;
  border-radius: 2px ;
  color: rgba(248, 245, 245, 0.85) ;
  background: rgb(24, 206, 24);
  border-color:  rgb(24, 206, 24);
  width: 20% ;
  margin-right: 35px ;
} */
/* .ant-modal-content > button,.ant-btn.ant-btn-dangerous {
  color: #fff !important;
  background: #801315 !important;
  border-color: #831517 !important;
} */

/* TableCoin */
#customers {
  border-collapse: collapse;
  width: 100%;
  margin-top: 15px;
  text-align: center;
  border-collapse: collapse;
  font-size:18px;
}
#customers td, #customers th {
  border: 1px solid rgb(240, 233, 233);
  padding: 8px;
  text-align: center;
  border-bottom: 2px solid #ddd;  
}
#customers tr:nth-child(even){background-color: #f2f2f2;}
#customers tr:hover {background-color: #ddd;}
#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #303A53;
  color: white;
}
.ant-space-item .button-modalDelete {
  background: #AB330F !important;
  border-radius: 10px !important;
  width:5rem !important;
  color: white !important;
  border-color: #AB330F !important;
  padding-top: 3px !important;
  margin-left: 10px;
  /* margin-left: 2.3em; */
}
.ant-space-item .button-modalEdit {
  background: #F26419 !important;
  border-radius: 10px !important;
  width:5rem !important;
  color: white !important;
  border-color: #F26419 !important;
  padding-top: 3px !important;
  margin-left: 10px;
  /* margin-left: 2.3em; */
}

/* PromotionList */
.ant-collapse {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(160, 145, 145, 0.85);
  font-size: 18px;
  line-height: 1.5715;
  list-style: none;
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  border-radius: 2px;
  font-weight:normal;
}
.datetime{
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}
.edit-delete{
  margin-top:2em !important;
  float:right!important;
}