@import "../../../../stylesDefault.module.scss";

.paddingEdit{
    padding-left: 10%;
    padding-right: 10%;
}

.alignCenter{
    display: flex;
    justify-content: center;
}

.alignPage{
    display: flex;
    align-items: center; 
}

.marginTop20{
    margin-top: 2rem;
}

.paddingRight{
    padding-right: 1.5rem;
}

.cardResult{
    padding:0.5rem 1rem 0.5rem 1rem ;
    max-width: 576px;
}