$yellow : #F6AE2D;
$black : #000000;
$white : #FFFFFF;
$blue : #33658A;
$orange : #F26419;

.tab{
    height: 2.5rem;
    width: 8rem;
    text-align: center;
    border:solid 1px  !important;
    color: #FFFFFF !important;
    line-height: 2.5rem !important;
}


.tabFirst{
    @extend .tab;
    border-top-left-radius: 0.95rem !important;
    border-bottom-left-radius: 0.95rem !important;
}


.tabLast{
    @extend .tab;
    border-top-right-radius: 0.95rem !important;
    border-bottom-right-radius: 0.95rem !important;
}
