@import "../../stylesDefault.module.scss";


.tab{
    height: 2.5rem;
    width: 8rem;
    text-align: center;
    line-height: 2rem !important;
}

.radio{
    @extend .tab;
    width: auto;
}

.tabSelect{
    @extend .tab;
    width: 6.25rem;
}

.tabFirst{
    @extend .tab;
    border-top-left-radius: 0.95rem !important;
    border-bottom-left-radius: 0.95rem !important;
}

.tabLast{
    @extend .tab;
    border-top-right-radius: 0.95rem !important;
    border-bottom-right-radius: 0.95rem !important;
}

.tabPane{
    flex: 1;
    width: auto;
    text-align: center;
}