@import "../../../../stylesDefault.module.scss";


.paddingEdit{
    padding-left: 10%;
    padding-right: 10%;
}

.bodyEdit{
    padding-top: 2.5rem;
}

.imageProfile {
    border-radius: 50% !important;
    height: 8rem;
    width: 8rem;
}

.imageProfilePubile {
    border-radius: 50% !important;
    height: 9rem;
    width: 9rem;
}

.profileSet{
    @extend .VerizontalPage;
    flex-flow: row;
}

.marginLeft{
    margin-left: 2.5rem;
}

.subProfile{
    margin-top: 1.5rem;
}

.subTitle{
    @extend .TitleCoin;
    padding-left: 1.25rem;
}

.TitleCoin{
    @extend .VerizontalPage;
    padding-top: 1.25rem;
    flex-flow: row;
}

.icon{
    font-size: 1.7rem;
    margin-right: 1.25rem;
}

.iconcoin{
    @extend .icon;
    color:$yellow;
}
.iconbigcoin{
    color:$yellow;
    font-size: 4rem    
}

.iconmarker{
    @extend .icon;
    color:$gray;
}

.iconMap{
    @extend .icon;
    @extend .fontBlue;
    font-size: 1.5rem;
}

.iconCheck{
    margin-right: 2rem;
}

.iconTick{
    @extend .iconCheck;
    @extend .fontGreen;
    font-size: 2.5rem;
}

.iconEducation {
    @extend .icon;
    margin-left: 2rem;
    font-size: 2.5rem;
}

.padding{
    padding: 0.6rem;
}

.floatLeft{
    margin-left: auto;
    margin-right: 0.6rem;
}

.fontGreen{
    color:$green !important;
}

.fontBlue{
    color:$blue !important;
}

.marginTop {
    margin-top: 2rem;
}

.marginTop20 {
    margin-top: 1.25rem;
}

.buttonEdit{
    @extend .marginTop;
    @extend .horizontalCenter;
    padding-bottom: 3.75rem;
}

.banner{
    height: 13.75rem;
    padding-top: 3rem;
    width: 100%;
    background-image: url(../../../images/background.webp);
}

.bannerEditProfile{
    @extend .banner;
    @extend .VerizontalPage;
    justify-content: center;
}

.columnJustify{
    @extend .horizontalCenter;
    flex-flow: column;
}


.textAlign{
    text-align: center;
}

.mobilecenter{
    @extend .body;
    @extend .horizontalCenter;
}

.infogroup{
    display: flex;
    flex-flow: column;
    position: absolute;
    right: 0.3rem;
}

.infoButton{
    border-width: 0.1rem  !important;
    border-color: $orange !important;
    color: $orange  !important;
}

.colorGray{
    color:$gray !important;
    border-style: none  !important;
    margin-top: 0.6rem
}

.contrainnerProfilePubile{
    @extend .paddingbody;
    @extend .marginTop20;
}

.alignPageIdentity {
  display: flex;
  align-items: center;
  flex-flow: column;
}