@import "../../../../stylesDefault.module.scss";


.paddingEdit{
    padding-left: 10%;
    padding-right: 10%;
}

.bodyEdit{
    padding-top: 2.5rem;
}

.imageProfile {
    border-radius: 50% !important;
    height: 8rem;
    width: 8rem;
}

.imageProfilePubile {
    border-radius: 50% !important;
    height: 10rem;
    width: 10rem;
}

.profileSet{
    @extend .VerizontalPage;
    flex-flow: row;
}

.marginLeft{
    margin-left: 2.5rem;
}

.subProfile{
    margin-top: 1.5rem;
}

.subTitle{
    @extend .TitleCoin;
    padding-left: 1.25rem;
}

.TitleCoin{
    @extend .VerizontalPage;
    padding-top: 1.25rem;
    flex-flow: row;
}

.icon{
    font-size: 1.7rem;
    margin-right: 1.25rem;
}

.iconcoin{
    @extend .icon;
    color:$yellow;
}

.iconmarker{
    @extend .icon;
    color:$gray;
}

.iconMap{
    @extend .icon;
    @extend .fontBlue;
    font-size: 1.5rem;
}

.padding{
    padding: 0.6rem;
}

.floatLeft{
    margin-left: auto;
}

.fontBlue{
    color:$blue !important;
}

.marginTop {
    margin-top: 2rem;
}

.marginTop20 {
    margin-top: 1.25rem;
}

.buttonEdit{
    @extend .marginTop;
    @extend .horizontalCenter;
    padding-bottom: 3.75rem;
}

.banner{
    height: 16rem;
    padding-top: 3rem;
    width: 100%;
    background-color: $blue
}

.bannerEditProfile{
    @extend .banner;
    @extend .VerizontalPage;
    justify-content: center;
}

.columnJustify{
    @extend .horizontalCenter;
    flex-flow: column;
}

.colorGray{
    color:$gray !important;
    border-style: none  !important;
    margin-top: 0.6rem
}

.alignPageIdentity {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.infogroup{
    display: flex;
    flex-flow: column;
    position: absolute;
    bottom: 0rem;
    right: 0rem;
}

.infoButton{
    border-width: 0.1rem  !important;
    border-color: $orange !important;
    color: $orange  !important;
    z-index: 5;
}

.smallSizeIcon {
    font-size: 1.5rem;
    margin-left: 1.25rem;
    width: 4rem
}

.largeSizeIcon{
    @extend .smallSizeIcon;
    margin-left: 1.5rem;
    font-size: 2.2rem;
}

.editButton {
    @extend .buttonCircle;
    background-color: $blue;
}

.removeButton {
    @extend .buttonCircle;
    margin-left: 0.2rem;
    background-color: $gray;
}

.centerPage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.removeImage{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
  
.backgroundProfile{
    @extend .textNormal;
    background-color: rgba($color: $white, $alpha: 0.8);
    padding: 1rem;
    border-radius: 0.5rem;
}