$yello : #F6AE2D;
$black : #000000;
$green : #00B900;
$red : #AB330F;
$blue : #33658A;
$gray : #C4C4C4;

.paddingbody{
    padding-left: 5%;
    padding-right: 5%;
}

.paddingEdit{
    padding-left: 10%;
    padding-right: 10%;
}

.alignCenter{
    display: flex;
    justify-content: center;
}

.alignPage{
    display: flex;
    align-items: center;
}

.body {
    @extend .paddingbody;
    padding-top: 110px;
    padding-bottom: 60px;
}

.bodyMobile{
    @extend .paddingEdit;
    @extend .body;
}

.imageProfile {
    border-radius: 50% !important;
    height: 130px;
    width: 130px;
  }


.profileSet{
    @extend .alignPage;
    flex-flow: row;
}

.marginLeft{
    margin-left: 40px;
}

.subProfile{
    margin-top: 25px;
    padding-left: 20px;
}

.subTitle{
    @extend .TitleCoin;
    padding-left: 20px;
}

.TitleCoin{
    @extend .alignPage;
    padding-top: 20px;
    flex-flow: row;
}

.icon{
    font-size: 20pt;
    margin-right: 20px;
}

.iconcoin{
    @extend .icon;
    color:$yello;
}

.iconmarker{
    @extend .icon;
    color:$gray;
}

.iconMap{
    @extend .icon;
    @extend .fontBlue;
    font-size: 18pt;
}

.padding{
    padding: 10px;
}

.floatLeft{
    margin-left: auto;
    margin-right: 10px;
}


.iconCheck{
    margin-right: 30px;
}

.fontGreen{
    color:$green !important;
}

.fontBlue{
    color:$blue !important;
}

.iconTick{
    @extend .iconCheck;
    @extend .fontGreen;
    font-size: 30pt;
}

.iconEducation {
    @extend .icon;
    margin-left: 30px;
    font-size: 30pt;
}

.marginTop {
    margin-top: 35px;
}

.marginTop20 {
    margin-top: 20px;
}

.buttonEdit{
    @extend .marginTop;
    @extend .alignCenter;
    padding-bottom: 60px;
}

.banner{
    @extend .alignPage;
    height: 220px;
    padding-top: 60px;
    width: 100%;
    background-image: url(../../../images/background.jpg);
    justify-content: center;
}

