@import "../../stylesDefault.module.scss";

.infogroup{
    display: flex;
    flex-flow: column;
    position: absolute;
    right: 0.3rem;
}

.infoButton{
    border-width: 0.1rem  !important;
    border-color: $orange !important;
    color: $orange  !important;
}

.colorGray{
    color:$gray !important;
    border-style: none  !important;
    margin-top: 0.6rem
}

.imageProfilePubile {
    border-radius: 50% !important;
    height: 9rem;
    width: 9rem;
}

.alignCenter{
    display: flex;
    justify-content: center;
}


.columnJustify{
    @extend .alignCenter;
    flex-flow: column;
}