:root {
  --main-color:#F26419;
  --blue-color: #33658A;
  --yellow-color : #F6AE2D;
  --white-color : #FFFFFF;
  --gray-color : #C4C4C4;
  --side-menu-color : #303A53;
  --error-color : #840c0c;
  --green-color : #00B900;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body{
  min-width: 480px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* General */

.h2{
  font-size: 35px;
  font-weight: 700;
}

.white{
  color:var(--white-color) !important
}

.error-input{
  font-size: 12px;
  color:var(--error-color);
  padding-left: 10px;
  margin-top: 5px;
}

.input{
  margin: 0 auto;
  border: none; /* <-- This thing here */
  border:solid 1px #ccc;
  border-radius: 20px;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  outline:none;
}

.imageUpload>input {
  display: none !important;
}

.ant-picker,
.ant-select{
  width: 100% !important; 
}

.ant-picker,
.ant-select-selector {
  border: none !important;
  border:solid 1px #ccc !important;
  border-radius: 20px !important;
  height: auto !important;
  padding: 4.5px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.ant-picker{
  padding: 8px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

input :focus{
  outline: none !important
}

.body {
  padding-top: 110px;
}

.paddingBody {
  padding: 7%;
}

.buttonColor{
  border-width: 0ch  !important;
  color:var(--white-color)  !important;
}

.backgroundYellow{
  background-color: var(--yellow-color) !important;
}

.backgroundGreen{
  background-color: var(--green-color) !important;
}

.backgroundMain{
  background-color: var(--main-color) !important;
}

.backgroundBlue{
  background-color: var(--blue-color) !important;
}

.backgroundGray{
  background-color: var(--gray-color) !important;
}

/* General */

/* Nav Menu */
.fixMenu{
  position:fixed;
  width:100%;
  z-index:999;
}

.menuBar {
  background-color: var(--main-color) !important;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-bottom: solid 0px transparent;
  overflow: auto;
}

.menuBar .floatRight{
  margin-left: auto ;
}

.logo {
  float: left;
  color: var(--white-color) ;
  font-weight: 700;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 18pt;
}

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-submenu-open
{
  color:  var(--white-color)  !important;
  border-bottom: 2px solid  var(--white-color) !important;
}

.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected 
{
  border-bottom: 2px solid  transparent !important;
}

.ant-menu-horizontal a{
  color:  var(--white-color)  !important;
}

.buttonText{
  color:var(--white-color)  !important;
}

.buttonText :hover{
  font-weight: 600;
}

.navbarBottom {
  overflow: hidden;
  background-color: var(--white-color) ;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  border-top-style: solid;
  border-top-color: var(--main-color);
}

.iconMenu{
  padding: 10px;
}

.icon{
  font-size: 25px;
  color : var(--gray-color) !important;
}

.icon :active{
  color : var(--main-color) !important;
}

.side{
    overflow: auto  !important;
    height: 100vh !important;
    position: fixed !important;
    left: 0px;
    background-color: var(--side-menu-color) !important;
}

.side .ant-menu > .ant-menu-item-selected ,
.side .ant-menu > .ant-menu-submenu-title 
{
  color : var(--main-color) !important;
  background-color: var(--side-menu-color) !important;
  border: 0px transparent !important;
}

.side .ant-menu ,
.side .ant-menu-item a,
.side .ant-menu  :hover,
.side .ant-menu-submenu-selected 
 {
  color : var(--white-color) !important;
  background-color: var(--side-menu-color) !important;
  border: 0px transparent !important;
}
.side .ant-menu-item :hover,
.side .ant-menu-item-selected a {
  color : var(--main-color) !important;
}

/* Nav Menu */

/* Body */
.input-form{
  width: 30%;
  margin-top: 30px;
}

.big-button{
  height : 160px ;
  width : 80%;
  font-size: 15px;
  font-weight: 600;
  margin-top: 20px;
}

.icon-addimage{
  font-size: 15px;
  color: var(--side-menu-color);
  cursor: pointer;
}

.ant-badge-count, 
.ant-badge-dot, 
.ant-badge 
.ant-scroll-number-custom-component {
  position :absolute ;
  bottom: 0 ;
  top:auto;
}


@media only screen and (max-width: 830px) {
  .input-form{
    width: 60%;
  }
}

@media only screen and (max-width: 768px) {
  .big-button{
    width : 100%;
    height : 160px ;
    margin-top: 20px;
  }

  .icon-addimage{
    font-size: 13px;
  }

  .image-person {
    height: 120px;
    width: 120px;
  }
}

.ant-card-body{
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.ant-radio-button-wrapper-checked ,
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover::before , 
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before{
  background-color: #FFFFFF;
  outline: none!important;
  border-width: 0ch  !important;
  box-shadow: none  !important;
}

[ant-click-animating-without-extra-node]:after {
  animation: 0s !important;
  border-color: transparent !important;
}
 
