@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");

@font-face {
  font-family: "FC-Iconic";
  src: local("FC-Iconic"), url("../src/components/font/FC-Iconic/FCIconicRegular.ttf") format("opentype");
}

* {
  font-family: "FC-Iconic";
}

#root{
  height: 100%;
}

body{
  background-color: #F2F2F2 !important;
}

@media only screen and (max-width: 768px) {
  body{
    background-color: white !important;
  }
}
