$orange:#F26419;
$blue: #33658A;
$yellow: #F6AE2D;
$white: #FFFFFF;
$gray : #C4C4C4;
$side : #303A53;
$red : #840c0c;
$green : #00B900;
$black : #000000;
$silver : #a39b9b;
$gray3 : "#828282";

.titleH2{
    font-size: 2rem;
    font-weight: 600;
}
  
.titleH3{
    font-size: 1.5rem;
    font-weight: 600;
}

.titleH4{
    font-size: 1.35rem;
    font-weight: 600;
}

.titleH5{
    font-size: 1.25rem;
    font-weight: 600;
}

.textSmall{
    font-size: 1rem;
}
    
.textNormal{
    font-size: 1.35rem;
}

.textLarge{
    font-size: 1.35rem;
}

.iconLargeRegister{
    font-size: 3rem;
}

.iconLarge{
    font-size: 2rem;
}

.iconNormal{
    font-size: 1.35rem;
}

.iconSmall{
    font-size: 1.15rem;
}

.paddingbody{
    padding-left: 5%;
    padding-right: 5%;
}

.paddingTopBody{
    padding-top: 5rem;
}

.paddingBottomBody {
    padding-bottom: 3.75rem;
}

.padding1{
    padding : 2rem
}

.body {
    @extend .paddingbody;
    @extend .paddingTopBody;
    @extend .paddingBottomBody;
}

.bodymobileprofile{
    @extend .paddingbody;
    @extend .paddingBottomBody;
}

.bodyPaddingTopBottom{
    @extend .paddingTopBody;
    @extend .paddingBottomBody;
}

.horizontalCenter {
    display: flex !important;
    justify-content: center !important;
}

.VerizontalPage {
    display: flex;
    align-items: center;
}

.centerPage{
    display: flex;
    align-items: center;
    justify-content: center
}

.borderImage{
    border: 0.15rem solid  !important;
    border-color : $orange !important;
    border-radius: 0.75rem;
    padding : 0.5rem;
    background-color: rgba($color: $gray, $alpha: 0.22);
}

.HDImage {
  width: 288px !important;
  height: 162px !important;
}

.buttonCircle{
    border-style: none  !important;
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
    font-size: 0.75rem !important;
    color: $white;
    cursor: pointer;
}

.borderImage{
    border: 0.15rem solid  !important;
    border-color : $orange !important;
    border-radius: 0.75rem;
    padding : 0.5rem;
    background-color: rgba($color: $gray, $alpha: 0.22);
}

.a4Image {
  width: 13rem !important;
  height: 16rem !important;
}

.container {
    padding: 6rem 7.5rem 3.75rem 7.5rem;

    @media only screen and (max-width: 768px){
        padding:  6.25rem 1.5rem 4rem 1.5rem;
    }
}

.containerSection {
    padding: 0 7.5rem 0 7.5rem;
    @media only screen and (max-width: 768px){
        padding:  0 1.5rem 0 1.5rem;
    }
}

@mixin cutText($line) {
    overflow:hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-line-clamp: $line; 
    -webkit-box-orient: vertical;
}

.section {
    background-color: $white;
    padding: 1rem;
    border-radius: 0.5rem;
}

.marginSection {
    margin-top:1rem
}

.button {
    border-style: none  !important;
    color:var(--white-color)  !important;
    outline:none !important;
}

.buttonColor{
    @extend .textOne5;
    @extend .button;
    height: auto;
    border-radius: 0.5rem;
}


.marginLeftThree {
    margin-left: 3rem;
}

.marginLeftOne5 {
    margin-left: 1.5rem;
}

.marginLeftOne {
    margin-left: 1rem;
}

.marginLeftOneHalf {
    margin-left: 0.5rem;
}

// new font 

.headerFour{
    font-size: 4rem;
    font-weight: 700;
}

.headerThree{
    font-size: 3rem;
    font-weight: 700;
}

.headerTwo75{
    font-size: 2.75rem;
    font-weight: 700;
}

.headerTwo5{
    font-size: 2.5rem;
    font-weight: 700;
}

.headerTwo25{
    font-size: 2.25rem;
    font-weight: 700;
}

.headerOne75{
    font-size: 1.75rem;
    font-weight: 700;
}

.headerOne5{
    font-size: 1.5rem;
    font-weight: 700;
}

.textTwo5{
    font-size: 2.5rem;
}

.textTwo25{
    font-size: 2.25rem;
}

.textTwo{
    font-size: 2rem !important; 
}

.textOne75{
    font-size: 1.75rem;
}

.textOne5{
    font-size: 1.5rem;
}

.textOne25{
    font-size: 1.25rem;
}

.textOne{
    font-size: 1rem;
}

.text18{
    font-size: 18px;
}

.colorYellow{
    color : $yellow !important
}

.fullWidth{
    width: 100%;
}

.TextHeight{
    line-height: 90%
}

.cursor{
    cursor: pointer;
}

.paddingOne{
    padding : 1rem !important
}

.paddingTopHalf{
   padding-top: 0.5rem
}

.paddingTopOne{
    padding-top: 1rem
}

.paddingTopOneHalf{
    padding-top: 1.5rem
}

.marginTopOne5{
    margin-top: 1.5rem;
}

.marginTopOne25{
    margin-top: 1.25rem;
}

.marginTopHalf{
    margin-top: 0.5rem;
}

.marginRightHalf{
    margin-right: 0.5rem;
}

.fullHeight{
    height: 100%;
}

.textOneLine {
    @include cutText(1)
  }
  
.textLineHeight { 
    line-height: 90%;
}
  
