.alignPage{
    display: flex;
    align-items: center;
}

.educationRow{
    @extend .alignPage;
    padding-top: 1.25rem;
    flex-flow: row;
}

.smallSizeIcon {
    font-size: 20pt;
    margin-right: 1.25rem;
}

.largeSizeIcon{
    @extend .smallSizeIcon;
    margin-left: 2rem;
    font-size: 30pt;
}

.floatLeft{
    margin-left: auto;
    margin-right: 0.6rem;
}