@import "../../../../stylesDefault.module.scss";

.white{
    color:$white !important
}

.h1{
  @extend .white;
  @extend .headerFour;
  padding-bottom: 1rem;
}

.loginPage {
  @extend .bodyPaddingTopBottom;
  @extend .centerPage;
  flex-flow: column;
  height: 100%;
  background-color: $orange;
}

.loginform{
  display: contents;
  align-items: center;
  width: 100%;
}

.loginform{
  display: contents;
  align-items: center;
  width: 100%;
}

.loginform{
  display: contents;
  align-items: center;
  width: 100%;
}

.loginform{
  display: contents;
  align-items: center;
  width: 100%;
}

.buttonText{
  @extend .textOne25;
  @extend .paddingBottomBody;
  color:$white  !important;
}

.loginPage .buttonText :hover{
  border-bottom: 0.12rem solid  var(--white-color) !important;
}

.title {
  @extend .textOne5;
  margin-right: auto;
  color:$white
}

.imagepPerson {
  border-radius: 50% !important;
  height: 7.5rem;
  width: 7.5rem;
}

.margintop20{
  margin-top: 1.25rem;
}

.boxRegister {
  padding: 1.25rem !important;
  margin : 1rem;
  border-radius : 0.5rem;
  cursor: pointer;
  height: 100% !important;
}